.aluno-destaque-container {
  background-color: #454545;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  border-left: 5px solid #f1c40f;
  text-align: left;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.aluno-destaque-container h3 {
  margin-top: 0;
  color: #f1c40f;
  text-align: center;
}

.aluno-destaque-container h2 {
  margin: 10px 0;
  font-size: 28px;
}

.aluno-destaque-container p {
  margin: 5px 0;
  font-size: 16px;
  color: #fff;
}

.destaque-carregando {
  color: #000;
  font-style: italic;
}
